body{
    background-image: url(https://png.pngtree.com/element_origin_min_pic/16/12/09/77619c843826cf8c9184bcf626d14f49.jpg);
}
.head{
    background-color: #417ee0;
    padding: .8% .8% .8% 15px;
    border-radius: 15px;
    opacity: .7;
    text-align: right;
}
.headButton{
    border-radius: 5px;
    margin-right: 5px;
    background-color: #edf3ff;
}
.headButton:hover{
    background-color: #ffd6cc;
}
table{
    table-layout: fixed;
    border-color: #417ee0;
    border-radius: 15px;
    width: 50%;
    margin: 3% auto auto;
    padding-top: 1%;
    padding-bottom: 1%;
    opacity: .9;
    box-shadow: 1px 1px 100px #417ee0;
}
td{
    padding: 2%;
    text-align : center;
}